
annotated-types==0.7.0
anthropic==0.58.2
beautifulsoup4==4.13.4
ddgs==9.4.3
duckduckgo_search==8.1.1
langchain==0.3.26
langchain-anthropic==0.3.17
langchain-community==0.3.27
langchain-core==0.3.69
langchain-ollama==0.3.5
langchain-text-splitters==0.3.8
langgraph==0.6.1
langgraph-checkpoint==2.1.1
langgraph-prebuilt==0.6.1
langgraph-sdk==0.2.0
langsmith==0.4.8
numpy==2.3.1
ollama==0.5.1
pydantic==2.11.7
python-dotenv==1.1.1
requests==2.32.4
websocket-client==1.8.0
wikipedia==1.4.0

